    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container"><span class="skiplink-text">Skip to main content</span></div></a>

    <!-- Docs master nav -->
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="../" class="navbar-brand">UIDEMOJS</a>
    </div>  
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">全套UI<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://v3.bootcss.com/" target="_blank">Bootstrap</a></li>
            <li><a href="/ace" target="_blank">ace</a></li>
            <li><a href="http://jqueryui.com/demos" target="_blank">jqueryui</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">表格 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://bootstrap-table.wenzhixin.net.cn/" target="_blank">Bootstrap-table</a></li>
            <li><a href="https://www.datatables.net/" target="_blank">datatables</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">树<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.jstree.com/" target="_blank">jstree</a></li>
            <li><a href="http://www.treejs.cn/" target="_blank">ztree</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">选择框<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://loudev.com/" target="_blank">multi-select</a></li>
            <li><a href="https://select2.github.io/examples.html" target="_blank">select2</a></li>
            <li><a href="http://selectize.github.io/selectize.js/" target="_blank">selectize</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">文件上传下载<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://fex.baidu.com/webuploader/demo.html" target="_blank">webuploader</a></li>
            <li><a href="http://fineuploader.com/demos.html" target="_blank">fineuploader</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图表和地图<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://echarts.baidu.com/" target="_blank">echarts</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图片展示<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://idangero.us/swiper/" target="_blank">swiper</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">自写插件<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="" target="_blank">树形展示下拉框</a></li>
            <li><a href="" target="_blank">权限新增对象</a></li>
          </ul>
        </li>
        <li><a href="/about" target="">开发人员</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://uidemo.test.yunshanmeicai.com/" target="_blank">UIDEMO</a></li>
      </ul>
    </nav>
  </div>
</header>